body{ 
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: #152238;
}

h1{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}

h2{
    margin: 15px;
}

label{
    color: white;
    font-size: 0.75cm;
}


header{
    background-color: #A39385 ;
    padding: 1px;
    text-align: center;
    font-size: 35px;
    color: white;
}

button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    background: #A39385;
    border-radius: 10px;
}

.button1{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-right: 50px;
    background: #A39385;
    border-radius: 10px;
}

.button2{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-left: 50px;
    background: #A39385;
    border-radius: 10px;
}


/* The width is 100%, when the viewport is 600px or smaller */
@media screen and (max-width: 600px) {
    .left, .middle, .right {
      width: 100%; 
      height: 100%;
    }
}

/* .left{
    width: 25%;
    height: 1000px;
    float: left;
    background-color: rgb(0, 251, 255);
    border-collapse: collapse;
} */
/* .middle{
    width: 50%;
    height: 1000px;
    float: left;
    background-color: rgb(0, 251, 255);
    border-collapse: separate;
}

.right{
    width: 25%;
    height: 1000px;
    float: left;
    background-color: rgb(0, 251, 255);
    border-collapse: collapse;
} */

/* .full{
    width: 100%;
    height: 1000px;
    float: left;
    background-color: rgb(0, 251, 255);
    border-collapse: collapse;
} */

/* .row{
    width: 100%;
    height: 100;
}

.grid-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}
  
.grid-item{
    background-color: rgb(0, 251, 255);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 30px;
    font-size: 30px;
    text-align: center;
} */

/* if the screen is larger than 600px, make 2 columns in grid */
/* @media (min-width: 600px) {
    .grid-container { grid-template-columns: repeat(2, 1fr); }
  } */